# Node modules directory
node_modules/

# Build directories (e.g., dist, build, etc.)
dist/
build/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.* # Optional, if you have multiple env files (like .env.production)

# Local server files (if you are using Docker or other local server configurations)
docker-compose.yml
*.dockerfile
dockerfile.*

# Private keys and certificates
*.pem
*.key
*.crt

# Miscellaneous files to ignore
*.tgz
*.bak
*.swp